h1{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.features{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
dl{
    padding-top: 10px;
    padding-bottom: 10px;
}